<!DOCTYPE html>
<html>
  <head>
    <title>Youtube Video Manager</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/video-manager.css" />
    <script type="text/javascript">
      PageData = { current: "<%= @page %>" };
    </script>
    <script type="text/javascript" src="/vendor/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/vendor/jquery.history.js"></script>
    <script type="text/javascript" src="/vendor/ember-0.9.3.js"></script>
    <script type="text/javascript" src="/javascripts/youtube_manager.js"></script>
    <script type="text/javascript" src="/javascripts/router.js"></script>
    <script type="text/javascript" src="/javascripts/views/card_view.js"></script>
    <script type="text/javascript" src="/javascripts/views/selectable_view.js"></script>
    <script type="text/javascript" src="/javascripts/views/video_view.js"></script>
    <script type="text/javascript" src="/javascripts/views/video_list_view.js"></script>
    <script type="text/javascript" src="/javascripts/views/simple_checkbox.js"></script>
    <script type="text/javascript" src="/javascripts/views/paginator.js"></script>
    <script type="text/javascript" src="/javascripts/views/button.js"></script>
    <script type="text/javascript" src="/javascripts/mixins/selectable_collection_view.js"></script>
    <script type="text/javascript" src="/javascripts/handlebars/nav.js"></script>
    <script type="text/javascript" src="/javascripts/handlebars/button_dropdown.js"></script>
    <script type="text/javascript" src="/javascripts/helpers/history.js"></script>
    <script type="text/javascript" src="/javascripts/server_data.js"></script>
    <script type="text/javascript" src="/javascripts/application.js"></script>

    <script type="text/x-handlebars" data-template-name="uploads">
      <div class="header-wrapper">
        <h2>Uploads</h2>
        <span class="badge">{{content.total}}</span>
      </div>

      <div class="actions-bar">
        <button type="submit" class="action search"><span>Search</span></button>
        <input type="text" class="search" placeholder="Search uploads">

        {{view YoutubeManager.Checkbox valueBinding="allSelected"}}

        <button type="button" class="action addto">
          <img class="icon add" src="/images/pixel.gif" alt="" />
          <span>Add to</span>
          <img class="arrow" src="/images/pixel.gif" alt="" />
        </button>
        <button type="button" disabled="disabled" class="action">
          <span>Actions</span>
          <img class="arrow" src="/images/pixel.gif" alt="" />
        </button>
        <span class="view-label">View:</span>
        {{#ymButtonDropdown classNames="text" valueBinding="content.filterString"}}
          {{ymOption title="Newest" value="sort:date:desc"}}
          {{ymOption title="Oldest" value="sort:date:asc"}}
          {{ymOption title="Most viewed" value="sort:viewCount:desc"}}
          {{ymOption title="Public" value="filter:privacy:public"}}
          {{ymOption title="Unlisted" value="filter:privacy:unlisted"}}
          {{ymOption title="Private" value="filter:privacy:private"}}
        {{/ymButtonDropdown}}
      </div>

      <div {{bindAttr class="Ember.TRUE:loading content.loading:show"}}><img src="/images/ajax-loader.gif"></div>
      {{collection YoutubeManager.VideoListView contentBinding="content"}}

      {{view YoutubeManager.Paginator contentBinding="content"}}
    </script>
    <script type="text/x-handlebars" data-template-name="button">
      <span>{{title}}</span>
      <img class="arrow" src="/images/pixel.gif" alt="" />
    </script>
    <script type="text/x-handlebars" data-template-name="paginator">
      <div class="wrapper">
        {{#unless isFirstPage}}
        <button type="button" class="action" data-page="-1">
          <span>&laquo; Previous</span>
        </button>
        {{/unless}}
        {{#each pages}}
        <button type="button" {{bindAttr class="toggled action" data-page="realNumber"}}>
          <span>{{number}}</span>
        </button>
        {{/each}}
        {{#unless isLastPage}}
        <button type="button" class="action" data-page="+1">
          <span>Next &raquo;</span>
        </button>
        {{/unless}}
      </div>
    </script>
    <script type="text/x-handlebars" data-template-name="playlists">
      <div class="header-wrapper">
        <h2>Playlists</h2>
        <span class="badge">4</span>
      </div>

      <div class="actions-bar">
        <span class="view-label">View:</span>
        <button type="button" class="action text">
          <span>Newest</span>
          <img class="arrow" src="/images/pixel.gif" alt="" />
        </button>
      </div>
    </script>
    <script type="text/x-handlebars" data-template-name="video">
      <div class="video-content">
        {{view YoutubeManager.Checkbox valueBinding="selected"}}
        <div class="thumb-section">
          <a href="#">
            <span class="clip"><img {{bindAttr src="content.thumb"}} /></span>
            <span class="video-time">{{content.time}}</span>
          </a>
        </div>

        <div class="info-container">
          <div class="title">
            <a href="#">{{content.title}}</a>
            <span class="badges">
              {{#if content.hd}}
                <span class="basic">HD</span>
              {{/if}}
            </span>
          </div>
          <div class="date">{{content.date}}</div>
        </div>

        <div class="icons">
          <div class="metrics">
            <span class="count">
              <img src="/images/pixel.gif" alt="" />
              <span>{{content.viewCount}}</span>
            </span>
            <span class="comments">
              <img src="/images/pixel.gif" alt="" />
              <span>{{content.commentsCount}}</span>
            </span>
          </div>
          <div class="privacy">
            <span class="wrapper"><img src="/images/pixel.gif" {{bindAttr class="content.privacy"}} alt="" /></span>
          </div>
        </div>
      </div>
    </script>
  </head>
  <body>
    <script type="text/x-handlebars">
      <div id="container">
        <nav>
          {{#nav Application.NavigationView target="Application.navigation"}}
            {{navItem link="uploads"     label="Uploads"}}
            {{navItem link="playlists"   label="Playlists"}}
            {{navItem link="history"     label="History"}}
            {{navItem link="favorites"   label="Favorites"}}
            {{navItem link="likes"       label="Likes"}}
          {{/nav}}
        </nav>
        {{view YoutubeManager.CardView tagName="section" currentViewBinding="Application.router.currentView"}}
      </div>
      <footer>
        This is an <a href="http://www.emberjs.com/">Ember.js</a> demo. The designs are from
        Youtube Video Manager.<br />All the source code can be found at <a href="https://github.com/wilkerlucio/ember-youtube-manager">https://github.com/wilkerlucio/ember-youtube-manager</a>.
      </footer>
    </script>
    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '4ef97bcb613f5d2a39000001');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>
    <noscript>
      You need javascript enabled to see this page.
    </noscript>
  </body>
</html>
