<!DOCTYPE html>
<html>
  <head>
    <title>Youtube Video Manager</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/video-manager.css" />
    <script type="text/javascript" src="/vendor/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/vendor/ember-0.9.2.js"></script>
    <script type="text/javascript" src="/javascripts/youtube_manager.js"></script>
    <script type="text/javascript" src="/javascripts/router.js"></script>
    <script type="text/javascript" src="/javascripts/views/card_view.js"></script>
    <script type="text/javascript" src="/javascripts/views/selectable_view.js"></script>
    <script type="text/javascript" src="/javascripts/mixins/selectable_collection_view.js"></script>
    <script type="text/javascript" src="/javascripts/handlebars/nav.js"></script>
    <script type="text/javascript" src="/javascripts/application.js"></script>

    <script type="text/x-handlebars" data-template-name="uploads">
      <div class="header-wrapper">
        <h2>Uploads</h2>
        <span class="badge">34</span>
      </div>

      <div class="actions-bar">
        <button type="submit" class="action search"><span>Search</span></button>
        <input type="text" class="search" placeholder="Search uploads">

        <span class="custom-checkbox">
          <input type="checkbox" />
          <span></span>
        </span>
        <button type="button" class="action addto">
          <img class="icon add" src="/images/pixel.gif" alt="" />
          <span>Add to</span>
          <img class="arrow" src="/images/pixel.gif" alt="" />
        </button>
        <button type="button" disabled="disabled" class="action">
          <span>Actions</span>
          <img class="arrow" src="/images/pixel.gif" alt="" />
        </button>
        <span class="view-label">View:</span>
        <button type="button" class="action text">
          <span>Newest</span>
          <img class="arrow" src="/images/pixel.gif" alt="" />
        </button>
      </div>

      {{view templateName="videos" tagName="ul" classNames="video-list"}}

      <div class="pagination">
        <div class="wrapper">
          <button type="button" class="action toggled">
            <span>1</span>
          </button>
          <button type="button" class="action">
            <span>2</span>
          </button>
          <button type="button" class="action">
            <span>Next &raquo;</span>
          </button>
        </div>
      </div>
    </script>
    <script type="text/x-handlebars" data-template-name="playlists">
      <div class="header-wrapper">
        <h2>Playlists</h2>
        <span class="badge">4</span>
      </div>

      <div class="actions-bar">
        <span class="view-label">View:</span>
        <button type="button" class="action text">
          <span>Newest</span>
          <img class="arrow" src="/images/pixel.gif" alt="" />
        </button>
      </div>
    </script>
    <script type="text/x-handlebars" data-template-name="video">
      <div class="video-content">
        <span class="custom-checkbox">
          <input type="checkbox" />
          <span></span>
        </span>
        <div class="thumb-section">
          <a href="#">
            <span class="clip"><img {{bindAttr src="thumb"}} /></span>
            <span class="video-time">{{time}}</span>
          </a>
        </div>

        <div class="info-container">
          <div class="title">
            <a href="#">{{title}}</a>
            <span class="badges">
              {{#if hd}}
                <span class="basic">HD</span>
              {{/if}}
            </span>
          </div>
          <div class="date">{{date}}</div>
        </div>

        <div class="icons">
          <div class="metrics">
            <span class="count">
              <img src="/images/pixel.gif" alt="" />
              <span>{{viewCount}}</span>
            </span>
            <span class="comments">
              <img src="/images/pixel.gif" alt="" />
              <span>{{commentsCount}}</span>
            </span>
          </div>
          <div class="privacy">
            <span class="wrapper"><img src="/images/pixel.gif" {{bindAttr class="privacy"}} alt="" /></span>
          </div>
        </div>
      </div>
    </script>
    <script type="text/x-handlebars" data-template-name="videos">
      {{view tagName="li" templateName="video" thumb="/images/thumbs/cerveja.jpg" time="0:41" title="Abrindo cerveja com desodorante aqui" hd="true" date="Oct 8, 2011 06:55 PM" viewCount="47" commentsCount="0" privacy="public"}}
      {{view tagName="li" templateName="video" thumb="/images/thumbs/chimarruts.jpg" time="2:58" title="(Cover) Chimarruts - Do Lado de Cá" date="Aug 8, 2011 04:05 PM" viewCount="31" commentsCount="0" privacy="unlisted"}}
      {{view tagName="li" classNames="selected" templateName="video" thumb="/images/thumbs/raining.jpg" time="0:34" title="IMG 0704" hd="true" date="Jul 16, 2011 11:21 AM" viewCount="13" commentsCount="0" privacy="private"}}
    </script>
  </head>
  <body>
    <script type="text/x-handlebars">
      <div id="container">
        <nav>
          {{#nav Application.NavigationView target="Application.navigation"}}
            {{navItem link="uploads"     label="Uploads"}}
            {{navItem link="playlists"   label="Playlists"}}
            {{navItem link="history"     label="History"}}
            {{navItem link="watch-later" label="Watch Later"}}
            {{navItem link="favorites"   label="Favorites"}}
            {{navItem link="likes"       label="Likes"}}
          {{/nav}}
        </nav>
        {{view YoutubeManager.CardView tagName="section" currentViewBinding="Application.router.currentView"}}
      </div>
    </script>
    <noscript>
      You need javascript enabled to see this page.
    </noscript>
  </body>
</html>
